<%- include('../partials/header') %> <%- include('../partials/cdn') %>

<div id="baseline-ningth-container">
    <div id="baseline-ningth">
       <% baseline.forEach(data => { %>
        <li class="baseline_word fs-3"><%= data %></li>
       <% }) %> 
    </div>
</div

</body>
</html>