<%- include('../partials/header') %> <%- include('../partials/cdn') %>

<div class="container">
    <h1 class="text-center mt-5">Define My Outcomes</h1>
    <p class="mt-3 fs-2">
      How often have we set “goals’ for ourselves and not made any progress towards them. Like the New
Year’s Eve decision to lose weight, they are soon forgotten. This is because we have not examined
the situation from every angle to see how important or peripheral the Outcome is to our life. Using
this tool will help you get greater clarity and hence a help you to attain your outcomes
    </p>
    <form action="/tools-url/defineoutcome/<%= uuid %>" method="POST">
    <table class="table fs-4 mt-3 table-hover text-center">
        <thead>
          <tr class="fs-6">
            <td></td>
            <td>(DO THIS FIRST)</td>
            <td>(1 most, 5 least)</td>
            <td>(1 most, 5 least)</td>
            <td>(1 most, 5 least)</td>
            <td>(1 most, 5 least)</td>
            <td>(1 most, 5 least)</td>
            <td>(1 most, 5 least)</td>
            <td></td>
          </tr>
          <hr>
          <tr class="fs-5">
            <th scope="col">Potential Priorities</th>
            <th scope="col">Predicted Ranking</th>
            <th scope="col">Time (Upfront)</th>
            <th scope="col">Time (Ongoing)</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Enjoyment</th>
            <th scope="col">Impact <br> (90 day)</th>
            <th scope="col">Impact <br> (25 yr)</th>
            <th scope="col">Total Score*</th>
          </tr>
        </thead>
            <tbody>
              <tr id="first">
                <td><input class="form-control fs-5" style="width: 284px;" name="title_1" type="text"></td>
                <td><input class="form-control fs-5" min="1" max="3" name="predict_1" type="number"></td>
                <td><input class="form-control fs-5 firstInputNumber text-center Upfront" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 firstInputNumber text-center Ongoing" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 firstInputNumber text-center Difficulty" min="1" max="5" value="0"  type="number"></td>
                <td><input class="form-control fs-5 firstInputNumber text-center Enjoyment" min="1" max="5"   value="0" type="number"></td>
                <td><input class="form-control fs-5 firstInputNumber text-center Impact_90" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 firstInputNumber text-center Impact_25" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5  text-center firstTotal" min="1" max="5"  name="Total_1" value="0" type="number" readonly></td>
              </tr>  
              <tr id="second">
                <td><input class="form-control fs-5" style="width: 284px;" name="title_2" type="text"></td>
                <td><input class="form-control fs-5" min="1" max="3" name="predict_2" type="number"></td>
                <td><input class="form-control fs-5 secondInputNumber text-center Upfront" min="1" max="5"     value="0" type="number"></td>
                <td><input class="form-control fs-5 secondInputNumber text-center Ongoing" min="1" max="5"     value="0" type="number"></td>
                <td><input class="form-control fs-5 secondInputNumber text-center Difficulty" min="1" max="5"  value="0"  type="number"></td>
                <td><input class="form-control fs-5 secondInputNumber text-center Enjoyment" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 secondInputNumber text-center Impact_90" min="1" max="5"     value="0" type="number"></td>
                <td><input class="form-control fs-5 secondInputNumber text-center Impact_25" min="1" max="5"     value="0" type="number"></td>
                <td><input class="form-control fs-5  text-center secondTotal" min="1" max="5" name="Total_2"  value="0" type="number"  readonly></td>
              </tr>  
              <tr id="third">
                <td><input class="form-control fs-5" style="width: 284px;" name="title_3" type="text"></td>
                <td><input class="form-control fs-5" min="1" max="3" name="predict_3" type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center Upfront" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center Ongoing" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center Difficulty" min="1" max="5" value="0"  type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center Enjoyment" min="1" max="5"   value="0" type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center Impact_90" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center Impact_25" min="1" max="5"    value="0" type="number"></td>
                <td><input class="form-control fs-5 thirdNumberInput text-center thirdTotal" min="1" max="5" name="Total_3"  value="0" type="number" readonly></td>
              </tr>  
               
            </tbody>
        </table>
        <button class="btn btn-lg d-block mx-auto btn-success mt-5 fs-3 rounded-pill" style="width: 172px;">submit</button>
    </form>

    <h2 class="fw-bold">Criteria Descriptions</h2><hr>
 
    <h2 class="fw-bold">Time (upfront) :</h2>
    <p class="fs-3">How long will this take to get this up and running and start receiving benefits? Remember speed of implementation.</p>
    <h2 class="fw-bold">Time (Ongoing) :</h2>
    <p class="fs-3">How long will this take to grow and maintain? Can this be passively managed in the future? Remember opportunity cost.</p>
    <h2 class="fw-bold">Exitement</h2>
    <p class="fs-3">How much does the idea of this excite me? Will I enjoy the process or have to use willpower to push through?</p>
    <h2 class="fw-bold">Difficulty</h2>
    <p class="fs-3">Do I currently have (or have access to) the necessary skillset? How likely is success? How much variance in potential outcomes?</p>
    <h2 class="fw-bold">Impact (90 Days):</h2>
    <p class="fs-3">How much immediate impact will this have? What short-term opportunities does it create? Momentum builds on itself.</p>
    <h2 class="fw-bold">Impact (25 Years):</h2>
    <p class="fs-3">How much impact could this have towards my life's mission? Will the skills and experience gained be worth even if I fail?</p>
</div>
<script src="/assets/js/tools/defineoutcome.js"></script>
</body>
</html>