<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%-
include('./partials/nav') %>
  <!-- about -->
  <div class="hero-bg py-5">
    <div class="container">
        <div class="row align-items-center my-5">
            <div class="col-lg-6 col-12 ">
              <img src="/images/profile/neeruji.jpg" class="mx-auto d-block profile rounded" alt="" height="100%">
            </div>
            <div class="col-lg-6 col-12 mt-3">
        <h1 class="text-center my-4 title-font">Meet Neeru</h1>
              <p class="fs-3">Neeru Singh has lived and worked all over the world and although Indian, was born in Damascus, Syria as her
                father was a Diplomat there.
      
                She has spent her life travelling first with her father and then with her husband, Ambassador Gurjit Singh. <br><br>
      
                Neeru started her own career as a Civil Servant in India as part of the prestigious Indian Administrative
                Service and then transitioned to a career in the United Nations where she served in Japan, Kenya, Ethiopia,
                Italy and the UN in New York. <br><br>
                She has a rich and varied global experience and truly considers herself a Global
                Citizen. <br><br>
      
                Neeru is married, has two children and they both live and work in the US. <br></p>
            </div>
          </div>
          </div>
        </div>
  <div class="container">
          <h1 class="mt-5 pt-4 fw-bold title-font">From Neeru's desk...</h1>
    <p class="mt-4 fs-3">I started my personal development journey over 25 years ago and at that time it was just that, fuelled by a
      desire to grow and learn about myself. Five years later, as my own life transformed and I blossomed in my personal
      life and career, I was driven by a desire to help others transform their lives and share what I had learnt.
      I felt the need to share what I had learnt with others as I felt that my life would have been different had I had this
      knowledge at the right time in my life. <br><br>

      I began to teach the courses that had impacted me to people at the United Nations, World Bank, the Diplomatic
      Community in different countries, Government officials, Private Sector Leaders and thousands of normal regular
      individuals all over the world.
      The journey has been truly fulfilling….nothing can beat the joy and satisfaction of contributing to positive change, transformation and empowerment in the lives of people. <br><br>
      
      This is what drives me. <br><br>

      I have a proven structured system that leads you to knowledge of yourself along with time tested traditional
      practices that lead to mastering the mind and emotions, resulting in a calm mind, stress elimination and greater
      clarity and focus.
      This forms an unbeatable combination and is designed to transform you inside out…thus my offering is not based on superficial changes but deep changes…you may even say it is designed to change your very
      DNA….and when that happens, magic happens and people are able to unleash their full potential. <br><br>

      So, this is what I am offering you, Inner Transformation that leads to Outer Dynamism….. <br><br>

      With Much love, light and deepest Gratitude to the Universe <br><br></p>
      <h2 class="my-4 text-center mb-5 fw-bold title-font">Come join me on a journey unlike any other…if you are seeking to achieve greater heights in your life, <br> are finding leadership challenging or just find yourself stuck, <br> let’s work together and let me guide and take you on a remarkable journey of <br> Inner Transformation and Growth.</h2>

      <!-- award -->
    <div class="container my-5">
      <h1 class="text-center mb-3" style="font-size: 3rem;"> <u>Magicka Award</u></h1>
      <div class="row">
        <div class="col-sm-4 col-12">
          <img src="images/award1.jpeg" style="width: 100%; height: 70%;" alt="">
        </div>
        <div class="col-sm-4 col-12">
          <img src="images/award2.jpeg" style="width: 100%;" alt="">
        </div>
        <div class="col-sm-4 col-12">
          <img src="images/neeru-event1.jpeg" style="width: 100%;" alt="">
        </div>
        <div class="col-sm-4 col-12">
          <img src="images/neeru-event2.jpeg" style="width: 100%;" alt="">
        </div>
        <div class="col-sm-4 col-12">
          <img src="images/neeru-event3.jpeg" style="width: 100%;" alt="">
        </div>
      </div>
    </div>  
    <!-- /award -->
  </div>


  <%- include('./partials/footer') %>

</html>