<%- include('./partials/header') %>
    <%- include('./partials/cdn') %>

    <div class="container mt-5 roboto">
    <form action="/admin/login" class="mt-5" method="POST">
        <div class="form-group">
          <label for="User Email">Email address</label>
          <input type="email" name="email" class="form-control" id="" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="password" class="form-control" id="pwd" placeholder="Password">
        </div>
        <div class="form-group mt-3 fs-5">
          <input type="checkbox" style="height: 18px; width: 18px;" name="" onclick="showPdw()" id="show-pwd"> <label for="show-pwd">Show Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">LogIn</button>
      </form>

      <script>
        function showPdw() {
  var x = document.getElementById("pwd");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
      </script>
</div>
</body>
</html>
    