<%- include('./partials/header') %> <%- include('./partials/cdn') %>

<div class="congrats">
  <h1 class="congrats_h1 title-font">Test already submitted.</h1>
  <p class="congrats_par mt-5 col-12 title-font fs-3">
    Check your Inbox for a confirmation email.
  </p>
  <p class="congrats_par mt-4 col-12 title-font fs-3">Your report will be ready shortly.</p>
  <p class="congrats_par mt-3 col-12 title-font fs-3">Thank you...</p>
</div>

<script>
  
</script>
</body>
</html>