<%- include('./partials/header') %> <%- include('./partials/cdn') %>

<div class="congrats">
  <h1 class="congrats_h1 title-font">CONGRATULATIONS !</h1>
  <p class="congrats_par mt-5 fs-3 col-12 title-font">
    Check your Inbox for a confirmation email.
  </p>
  <p class="congrats_par mt-4 fs-4 col-12 title-font">Your report will be ready shortly.</p>
  <p class="congrats_par mt-3 fs-4 col-12 title-font">Thank you...</p>
</div>

<script>
  
</script>
</body>
</html>