<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%-
include('./partials/nav') %>

<div class="container">
  <h1 class="text-center mt-5 title-font">FAQs</h1>
  <div class="faq-container my-5">
    <!-- 1 -->
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        What is Inner Transformation Coaching?
      </button>
      <div class="accordion-body panel">
        <p class="fs-4">
          The focus of Inner Transformation Coaching is change at the deepest
          emotional, mental, physical levels and it even transforms you from the
          deepest levels of your subconscious self…ensuring that changes are not
          superficial but long lasting and impactful. Inner Transformational
          Coaching is forward looking and designed to unleash your true
          potential.
        </p>
      </div>
    </div>
    <!-- 2 -->
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        What is the Incredible You..Empower U Program?
      </button>
      <div class="accordion-body panel fs-4">
        <p>
          The Incredible You…Empower U program is the distillation of the best
          in personal development that has been meticulously created after over
          25 years to ensure that you get the best experience of personal
          transformation and growth based on the very best knowledge available.
          It has been formulated after years of personal experience and that of
          people from around the globe
        </p>
      </div>
    </div>
    <!-- 3 -->
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        What is the difference between Therapy and Inner Transformation
        Coaching?
      </button>
      <div class="accordion-body panel fs-4">
        Therapy is normally for those individuals who have deep seated and
        ingrained psychological problems. Therapy tends to focus a great deal on
        the past. Inner Transformation coaching is for normal individuals who
        may be facing challenges and blocks to achieving their full potential.
        unlike therapy which is based on techniqs aimed at deeply seted
        phsycological problems inner transofromation coaching is forward looking
        and design to unleas your true potential. Inner Transformational
        Coaching is forward looking and designed to unleash your true potential
      </div>
    </div>
    <!-- 4 -->
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        Should I choose Group Coaching or Personal Coaching?
      </button>
      <div class="accordion-body panel fs-4">
        Group Coaching is a powerful method as the interactive processes and
        discussions lead to breakthroughs for the entire Group. For most people,
        this is the right format for Coaching. <br />
        <br />
        There are however, special circumstances when Personal Coaching may be
        the better option. If you wish to try the Personal Coaching option, this
        can be decided once you have completed your Personality Assessment and
        had your one on one Discovery Session with Neeru.
      </div>
    </div>
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        How does the Incredible You…Empower U coaching work?
      </button>
      <div class="accordion-body panel fs-4">
        This program is a revolutionary program that allows the individual to
        <ul>
          <li>
            Connect with the deepest subconscious levels of their self and learn
            how to effortlessly elevate their emotional, mental and physical
            state
          </li>
          <li>
            Understand and know themselves and find out what actually makes you
            who you are
          </li>
          <li>
            Using this knowledge, participants are given tools that allow them
            to change those patterns that are no longer serving them
          </li>
          <li>
            Participants then identify their Outcomes which are much more
            tangible than goals
          </li>
          <li>
            You will get access to an innovative and truly powerful Decision
            Making Tool
          </li>
          <li>
            Once we have reached this stage, participants are ready to unleash
            their full potential in every area of their life, making them
            unstoppable, dynamic, empowered and truly incredible!
          </li>
          <li>
            Finally, you will move on with an amazing Blueprint for Success
            which will go with you as a guide for future accomplishments. You no
            longer need to struggle or be unsure of how to move forward…the
            Success Blueprint will become your own GPS for continued success….
          </li>
        </ul>
      </div>
    </div>
    <!-- 5 -->
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        What are the areas of my life where I can see results?
      </button>
      <div class="accordion-body panel fs-4">
        <p>
          As the focus of the ten week training is to bring radical
          transformation in your life from the inside out, you will completely
          change in the way you approach life. Thus, every area of your life
          will be positively impacted. Some of the areas where you can expect to
          see transformation are:
        </p>
        <ul>
          <li>Career….move from confusion to clarity and fulfilment</li>
          <li>Finances..move from inability to manage money to abundance</li>
          <li>
            Relationships..move from dysfunctional relationships to joyous
            abundant relationship and have the ability to move away from any
            relationships that no longer serve you.
          </li>
          <li>
            Happiness….eliminate stress and anxiety through the Power of the
            Breath*
          </li>
          <li>
            Communication…from inability to take a stand for yourself to
            identifying where you need to be more assertive
          </li>
          <li>
            Balance and Emotional Equilibrium….better management of time and
            other resources leading to fulfilment and enhanced Emotional
            Intelligence.
          </li>
          <li>
            Confidence….lack of confidence and a poor self image to unleashing
            your true potential
          </li>
          <li>
            Self Sabotage….from constantly being your own worst enemy, to
            valuing your own self worth
          </li>
          <li>
            Alignment of body, mind and spirit leading to blossoming of your
            true nature.
          </li>
        </ul>
      </div>
    </div>
    <!-- 6 -->
    <div class="accordion-item mt-3">
      <button class="accordion fw-bold rounded fs-3">
        Who should choose the Inner Transformation Coaching?
      </button>
      <div class="accordion-body panel fs-4">
        <p>
          As the focus of the ten week training is to bring radical
          transformation in your life from the inside out, you will completely
          change in the way you approach life. Thus, every area of your life
          will be positively impacted. Some of the areas where you can expect to
          see transformation are:
        </p>
        <ul>
          <li>
            Inner Transformation Coaching is for anyone who may be feeling
            “stuck’ in their lives, maybe you are not where you expected to be
            in your life, and because it is your life, you are unable to
            understand how to shift the situation
          </li>
          <li>
            The program has successfully been conducted across the world and
            with colleagues from the United Nations and companies for their
            staff
          </li>
          <li>
            The program is ideal for young millennial professionals, in
            particular women professionals
          </li>
          <li>
            Individuals of any age can chose to do this program as it has the
            ability to help transform us at any stage of our lives.
          </li>
          <li>
            For large organizations, the program is customizable to the needs of
            the organization.
          </li>
        </ul>
      </div>
    </div>
  </div>

  
</div>

<script>
  let accordion = document.querySelectorAll(".accordion");

  accordion.forEach((item) => {
    item.addEventListener("click", () => {
      item.classList.toggle("active-faq");
      let panel = item.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  });
</script>

<%- include('./partials/footer') %>
