<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%-
include('./partials/nav') %>

<div class="publication">
  <h1 class="text-center mb-4 title-font">Neeru's Publications</h1>
  <p class="text-left my-5 fs-3 px-2 px-sm-5">
    Neeru's publications reflect her interest in living a healthy lifestyle and
    the undestanding that living one's true potential unfolds with the alignment
    of the body, mind and the spirit. <br />
    She is also an avid amateur photographer and enjoys photography as she
    travels the world.
  </p>
</div>
<div class="hero-bg py-3">
  <div class="publication">
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="images/publications/publication_1.png" alt="" class="img1" />
      </div>
      <div class="col-md-6">
        <img src="images/publications/publication_2.png" alt="" class="img2" />
      </div>
      <div class="mb-5">
        <a
          class="d-block btn btn-chapter btn-bg fw-bold btn-lg btn-block mx-auto fs-4"
          href="/freebies"
          role="button"
          style="max-width: fit-content;"
        >Get my free Article</a>
      </div>
      <div class="col-md-5">
        <img src="images/publications/publication_3.png" alt="" class="img3" />
      </div>
      <div class="col-md-7">
        <img src="images/publications/publication_4.png" alt="" class="img4" />
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <h2 class="text-center mb-3">Read all my other resources here:</h2>
  <a href="/blog" role="button" style="max-width: fit-content;" class="d-block btn btn-chapter btn-bg fw-bold btn-lg btn-block mx-auto fs-4"> Read now </a>
</div>

<%- include('./partials/footer') %>
