<%- include('./partials/header') %> <%- include('./partials/cdn') %>

<div class="congrats">
  <h1 class="congrats_h1 title-font">Email sent successfully to Neeruji</h1>
  <p class="congrats_par fs-3 mt-5 col-12 title-font">
    We will contact you soon
  </p>
  <p class="congrats_par mt-3 fs-3 col-12 title-font">Thank you...</p>
</div>
</body>
</html>