<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%-
include('./partials/nav') %>

<div class="container my-5">
  <div class="">
    <h1 class="text-center title-font">Testimonials</h1>
    <!-- video -->

    <!-- written -->
    <div class="row mt-4">
      <!-- 1 -->
      <div class="col-12 mt-5">
        <div class="card mx-auto">
          <img
            class="d-block mt-4 mx-auto rounded-circle"
            src="/images/profile/mehtab.jpeg"
            style="height: 160px"
            alt="Mohini Lalwani"
          />
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              I decided to participate in this program as I needed some coping mechanisms when dealing with challenging phases in life, both professionally and personally. The whole pandemic has changed how we live, we've neglected our well-being and it's had an economic impact on the world that has had an affect on all of us directly or indirectly. It's also been a catalyst in taking away our work-life balance. It's not necessarily a scenario that is "business as usual" but it's imperative that life is always going to throw things at us, some good some scary things and as individuals we need to acknowledge that we have to cope with those because our physical environments will always be changing. So I decided to participate in this 10 week program, I wasn't expecting miracles but at the same time I wanted to set aside time to reflect on life choices and how my thoughts, actions, plans and behaviours impact my performance, well-being and achievements. I am a mother of two, and work full-time with a demanding job; between work and home there is very little time for myself and I am often pretty stressed. Regardless I decided to invest time in this as I knew it would be beneficial and finding the time to attend the weekly sessions was quite a challenge, but what I learned on the course remained with me - simple aspects about knowing what my baselines are, appreciating and being grateful, and spending time to think about what I want to do in life and many more things help me to this day to make the right life choices professionally and personally and help me to maintain some form of well-being that I wasn't able to do previously. Having Neeru as a facilitator to take us through this journey has made it all the more motivating and exciting as she comes with not only techniques and methodologies but also the all-important life experience that we can all look upon as a guiding experience.

            </p>
            <hr />
            <h4 class="card-title mt-3">
              M. Sumar, IT Professional, <br> United Nations
            </h4>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <!-- new -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              The journey with Neeru over the months of the program flowed and revealed many valuable points to myself. The Sudarshan Kriya provides me with a way to balance mind and body. The exercises for improving immunity and energy are simple and useful. The self-study process revealed and reinforced my basic values and personality elements. These basic values help me to better understand why I react positively or negatively to situations. The overall program has helped me to become more centered and focused on what matters to me and to reduce negative energy from my life. Neeru was an insightful coach leading us gently on this journey. Thank you!
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Joan M. Fulton, Professor of International Business, <br />
              Madrid, Spain.
            </h4>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <img
            class="d-block mt-4 mx-auto rounded-circle"
            src="images/profile/mohini.png"
            style="height: 160px"
            alt="Mohini Lalwani"
          />
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              Neeruji is an caring and warm person who is deeply committed to
              the growth of her clients. <br />
              The decision to work with her was life changing and the best
              decision I have made. <br />
              I recommend her wholeheartedly
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Mohini Lalwani, MBA Human Resources Manager
            </h4>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <img
            class="d-block mt-4 mx-auto rounded-circle"
            src="images/profile/Deborah-Watkins.png"
            style="height: 160px"
            alt="Mphini Lalwani"
          />
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              My relationships were complicated and I was struggling with
              retirement and the need to work...all these fell into place when I
              understood myself better and created a futurefor myself that I was
              excited to live!
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Deborah Watkins Office Manager (Retd.) <br />
              UK
            </h4>
          </div>
        </div>
      </div>
      <!-- Text based Testimonials -->
      <!-- 3 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              I have known Neeru Singh for many years, and have been impressed
              with her wise and caring approach to helping others realize their
              full potential. Neeru has more than 20 years of experience in the
              personal development field in India, America and elsewhere. I
              highly recommend her services.
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Cimi Mani Hu, M. Ed. <br />
              Personal Development Facilitator San Diego, CA
            </h4>
          </div>
        </div>
      </div>
      <!-- end 3 -->

      <!-- 4 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              The most life changing part of the program for me was the impact
              the breathing processes had on calming my mind. I feel more at
              peace now and can make better decisions.
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Linda Akucewicz, <br />
              Senior Psychologist,New York City School System.
            </h4>
          </div>
        </div>
      </div>
      <!-- 4 end -->
      <!-- 5 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              I was constantly procrastinating and unable to get things done. I
              was paralyzed by my fear of failure and this actually lead me very
              close to being my worst enemy, without realizing it. I now feel
              free and able to live my life to the fullest. My professional life
              has blossomed and I find myself increasingly achieving my dreams.
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Francesca Leone, <br />
              Computer Scientist, Rome
            </h4>
          </div>
        </div>
      </div>
      <!-- 5 end -->
      <!-- 6 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              I have always been interested in learning more about myself and
              wanted to be more in control of my life. Until now I did not know
              how to do this. This program really helped me in living my life in
              alignment with my baselines and that has made all the difference.
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Christine Koch, <br />
              Professor of Philosophy, Washington D.C.
            </h4>
          </div>
        </div>
      </div>
      <!-- 6 end -->
      <!-- 7 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              I had anger issues. And especially at my work, I used to feel
              frustrated a lot of times and it would make me feel withdrawn and
              distant from my office. This program made everything clear to me
              …the root cause of my anger at work…was my unsatisfied baselines!
              Just a small shift in my behavior to satisfy my baselines and
              everything became effortless.
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Sharad Mahad, <br />
              Senior Software Engineer.
            </h4>
          </div>
        </div>
      </div>
      <!-- 7 end -->
      <!-- 8 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              I used to have a lot of inhibitions about myself. Mostly because I
              had negative beliefs that held me back from even thinking of doing
              something radical. Replacing my negative beliefs with the new E
              Codes that empower me has been the biggest breakthrough for this
              program for me
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Priya Mukherjee, <br />
              Housewife.
            </h4>
          </div>
        </div>
      </div>
      <!-- 8 end -->
      <!-- 9 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              Oh God, it was really in front of me all the time, and I
              couldn&#39;t see it! I always would moan and groan about problems
              and struggles in my life. What I didn&#39;t understand was, I was
              letting my own stack of N Codes define my future for
              destructively! All I would say this program is worth a shot for
              all that it has given me…
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Reena Shah, <br />
              Entrepreneur.
            </h4>
          </div>
        </div>
      </div>
      <!-- 9 end -->
      <!-- 10 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              When I used to set goals earlier, it never worked for me well but
              when I went through this program, I&#39;m setting my outcomes in a
              more specific way. In fact, I&#39;m connecting with my goals.
              They&#39;re in alignment with my baselines and goals. I&#39;m
              pretty sure this time I&#39;m going to achieve them.
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Rahul Panwar, <br />
              Stock Market Trader.
            </h4>
          </div>
        </div>
      </div>
      <!-- 10 end -->
      <!-- 11 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              One of the most life altering lessons I learned in this program
              was how much our circle of influence affects our thoughts and
              actions! I have more toxic people than the really good ones. Had
              Stop hadn&#39;t known these qualities, I would have never been
              able to break out of my own shell and do something extraordinary
              with my life exclamation,
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Mahesh Panchal, <br />
              Banker.
            </h4>
          </div>
        </div>
      </div>
      <!-- 11 end -->
      <!-- 12 -->
      <div class="col-md-6 mt-5">
        <div class="card mx-auto">
          <div class="card-body lh-lg">
            <p class="card-text fs-4 mt-2">
              In one sentence, I will describe this program literally as a
              blueprint of my own success!
            </p>
            <hr />
            <h4 class="card-title mt-3">
              Kavitha Satish, <br />
              Student.
            </h4>
          </div>
        </div>
      </div>
      <!-- 12 end -->
    </div>
    <div class="row">
      <!-- 1 -->
      <div class="col-md-4 mt-5">
        <div class="card">
          <div class="testimonial_video">
            <iframe
              width="100%"
              height="120%"
              src="https://www.youtube.com/embed/r5C2kOtEkbI"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <h4 class="my-3 px-2">
            Rosemary Girault, <br />
            Corporate Coach, <br />
            South Africa
          </h4>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-md-4 mt-5">
        <div class="card">
          <div class="testimonial_video">
            <iframe
              width="100%"
              height="120%"
              src="https://www.youtube.com/embed/faGJU-HcEMM"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <h4 class="my-3 px-2">
            Bob Sehmi <br />
            Personal Development Coach, <br />
            Dubai
          </h4>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-md-4 mt-5">
        <div class="card">
          <div class="testimonial_video">
            <iframe
              width="100%"
              height="120%"
              src="https://www.youtube.com/embed/SBjgMAN1PiA"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <h4 class="my-3 px-2">
            Nevine Nazif <br />
            Mindset Coach, <br />
            Cairo, Egypt
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
