<%- include('./partials/header') %> <%- include('./partials/cdn') %>

<div class="congrats">
  <p class="congrats_par fs-3 mt-5 col-12 title-font">
      <%= pageInfo %>
  </p>
  <p class="congrats_par mt-3 fs-3 col-12 title-font">Thank you...</p>
  <a href="https://drive.google.com/file/d/1dGgW-BPMWU2b6XRQRXrBoHgcTB5w5ZCZ/view?usp=sharing" class="text-center fs-3">To Read Free article click here</a>
</div>
</body>
</html>
