<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%
if(user.testdata == "") { %>
<h1>No data available</h1>
<% } else { %>
<div class="container">
  <table class="table fs-4">
    <tbody>
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Answer</th>
        </tr>
      </thead>
      <% user.testdata[0].forEach(d=> {%>
      <tr>
        <td scope="col"><%= d[0] %></td>
        <td scope="col"><%= d[1] %></td>
      </tr>
      <% }); %>
    </tbody>
    <% } %>
  </table>
</div>

